.contact-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
  }
  
  .contact-box form {
    padding: 50px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .contact-box form .contact-input {
    font-size: 17px;
    padding: 17px;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 7px 0 18px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .contact-box form .contact-input-message {
    font-size: 17px;
    padding: 5px;
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 7px 0 18px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type="text"]:focus {
    border: 1px solid #ffea20;
  }

  input[type="email"]:focus {
    border: 1px solid #ffea20;
  }
  
  @media screen and (max-width: 600px) {
    .contact-box form {
      padding: 2rem;
      border-radius: 0%;
      box-shadow: none;
    }
  }
